body {
    max-width: 35%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

input[type="text"] {
    height: 1.5rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

input[type="button"] {
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: .9rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    width: 50%;
}

p {
    text-align: right;
    font-size: 0.8rem;
}

#checkbox {
    width: 25%;
    font-size: 1rem;
}

#disclaimer {
    width: 75%;
    font-size: 0.8rem;
}

#reg {
    background-color: #428bc9;
    color: white;
    padding: 0.1rem;
    border-radius: 0.2rem;
}

#regbt {
    background-color: #428bc9;

}

#signinbt {
    background-color: #5cb75c;
}

.ele1 {
    width: 50%;
}

.ele2 {
    width: -webkit-fill-available;
}

.container {
    display: flex;
    align-items: center;
    gap: 5%;
}